{
  "embeds": [{
    "title": "Welcome to Emma's gaming club!",
    { 
    "description": "Here are some rules you should follow."
    {
    "description": "No racism, homophobia, or bigotry of any kind!"
    { 
    "description": "Use all channels correctly!"
    { 
    "description": "No spam in any channels other than #spam!"
    { 
    "description": "Keep toxicity out of this server!"
    { 
    "description": "Be respectful to everyone!"
  }]
}
